<h1> All the Task Things </h1>

<%= form_for @task, :url => '/lists/<%= list.id %>', :method => 'post' do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>

<ul style="list-style:none">
  <% @tasks.each do |task| %>
    <li><%= task.description %></li>
    <p><a href="/tasks/<%= task.id %>/edit">Edit this item</a></p>
    <p><%= link_to 'Delete this task', task, :method => :delete, :data => { :confirm => 'Are you sure?' } %></p>
  <% end %> 
</ul>